.container
  .row
    .col-sm-12
      %h1 Conversation specifics
      %h3 Change the flow of the conversation. The application will read from a csv of the following format
      %table.table.table-bordered.table-hover
        %tr
          %th Stage number
          %th Receiver Prompt
          %th Receiver Button Text 1
          %th Receiver Button Text 2
          %th Receiver Button Destination 1 
          %th Receiver Button Destionation 2
          %th Giver Prompt
          %th Giver Button Text 1
          %th Giver Button Text 2
          %th Giver Button Destination 1 
          %th Giver Button Destionation 2
      %p 
        No current CSV
        %button.btn.btn-primary Upload csv 
  .row
    .col-sm-12
      %h3
        Current email to sends log to at the end of conversation: none
      %p 
        %button.btn.btn-primary Change email
